h1{
    color: yellow;
}
h3{
    color:red
}
img{
width: 400px;
}


#thirdDiv{
height: 600px;
width: 500px;
padding: 50px;
border: solid blue 3px;
margin:auto;

background-color: orange;
}
#spanId{
font-size: 18px;
margin: 50px;

}

#divClass{
    border: solid green 3px;
    margin: 80px;
}